body {
    all: unset;
    background-color: darkslategray;
    padding: 0;
    margin: 0;
}

.navbar {
    width: 100%;
    padding: 5px;
    background-color: cornflowerblue;
}

.title {
    color: azure;
    font-family: "FiraCode Nerd Font";
    font-size: xx-large;
}

button {
    all: unset;
    background-color: cornflowerblue;
    color: azure;
    padding: 10px;
    margin: 10px;
    font-family: "FiraCode Nerd Font";
    font-size: large;
    cursor: pointer;
}

#box {
    width: 30%;
    height: 30%;
    background-color: aqua;
    position: absolute;
    margin: 10px;
    border-radius: 0px;
}