body {
    color: #B0BEC5;
    font-family: sans-serif;
    margin: 0;
}

#hourlyDiv {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    padding: 5px;
    position: absolute;
    bottom: 10vh;
    left: 0vh;
    width: calc(100% - 10px);
}

#hourlyDiv::-webkit-scrollbar {
    display: none;
}

.hourly {
    flex: 0 0 auto;
    border-style: solid;
    border-color: #B0BEC5;
    border-width: 1px;
    border-right: 0px;
    text-align: center;
    width: 88px;
}

.hourly-rightmost {
    border-right: 1px solid white;
}

.hourlyTable {
    width: 100%;
    font-size: normal;
    vertical-align: middle;
}

.timeSpan {
    font-weight: bold;
}

/* Makes a black SVG white */
.svgWhite {
    align-self: center;
    height: 100%;
}

.hourlyTableNums {
    text-align: right;
}

.scoreSpan {
  font-weight: bold;
}

body {
  background-color: #010130;
}

.day-group {
  display: inline-flex;
  width: 100%;
  margin: 0;
  padding: 0;
  flex-flow: space-between;
  gap: 1px;
  overflow: hidden;
  grid-area: days-grid;
}

.day {
  /* Style of button */
  height: 10vh;
  width: 100%;
  outline: none;
  cursor: pointer;
  background: #000099;
  font-family: Arial, Helvetica, sans-serif;
  flex: 1;
}

@media screen and (min-width: 490px) {
  .day-group {
    gap: 3px;
  }
}

.day-text {
  /* Align text in button and rotate it */
  transform: rotate(-90deg);
  text-align: center;
  margin-top: 3.8vh;
  margin-bottom: 3.8vh;
}

.day:last-child {
  border-right: none;
}

.day:hover {
  background: #010130;
}

.day.selected {
  box-shadow: inset -2px -2px 2px rgba(0, 0, 0, 0.6), inset 2px 2px 2px rgba(0, 0, 0, 0.6);
  font-weight: bold;
}


/* CSS styling for Starea */


.grid-container {
  margin: 0;
  display: grid; 
  width: 100%;
  height: 100%;
  grid-auto-columns: 1fr; 
  grid-auto-rows: min-content;
  grid-template-columns: 1fr 1fr 1fr 6vh; 
  grid-template-rows: 5vh 35vh 35vh 15vh 10vh; 
  gap: 0px 0px; 
  grid-template-areas: 
    "title title . map"
    "star star star star"
    "temps temps weather-icon weather-icon"
    "hourly hourly hourly hourly"
    "days-grid days-grid days-grid days-grid"; 
}

#title {
  grid-area: title;
	font-size: 40px;
  margin: 0;
}

.mapicon {
	grid-area: map;
  cursor: pointer;
}

.mapsvg {
	height: 100%;
	width: 100%;
}

.svgColor {
  filter: invert(80%) sepia(15%) saturate(187%) hue-rotate(155deg) brightness(90%) contrast(94%);
}

.starometer {
	grid-area: star;
  padding: 5%;
}

.starsvg {
  height: 100%;
  width: 100%;
}

.temp {
	grid-column-start: 1;
	grid-column-end: span 2;
  grid-row: 1;
	font-size: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
}

#temptext {
  margin: 5%;
  align-self: flex-end;
}

.weathericon{
  grid-area: weather-icon;
  width: 100%;
  height: 100%;
  margin-top: 10%;
}

#temp-grid {
  grid-area: temps;
  display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	column-gap: 0px;
  text-align: center;
  height: 30%;
  margin-top: 10%;
}

.min {
	font-size: 25px;
	/* width: 50%; */
	/* padding-left: 5px;
	padding-right: 20px; */
	grid-column: 1;
	grid-row: 2;
	border-right-style: solid;
	border-width: thin;
}

.max {
	font-size: 25px;
	grid-column: 2;
  grid-row: 2;
}

#mintext,
#maxtext {
  margin-top: 0;
}
